<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <div class="jumbotron text-center text-danger" style="background-image: url(https://images.pexels.com/photos/1169754/pexels-photo-1169754.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940); background-size: 100%;">
      <h1 style="color:white">Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">
        Scrape New Data</a></p>
    </div>
    <div class="row">
        <div class="col-md-12">
          <h2>Latest Mars News</h2>
          <h3>{{ mars_info.news_title }}</h3>
          <p>{{ mars_info.news_p }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
          <h2>Featured Mars Image</h2>
          <img src="{{ mars_info.featured_image_url }}" class="img-responsive" alt="featured_img">
        </div>
        <div class="col-md-4">
          <h2>Facts About Mars</h2>
          <!-- https://stackoverflow.com/questions/48975383/why-to-use-safe-in-jinja2-python -->
          {{mars_info.mars_facts | safe}}
        </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>Mars Hemispheres</h2>
        <hr>
      </div>
      {% for hemisphere in mars_info.hemisphere_img %}
      <div class="col-md-6">
        <div class="card">
          <div class="thumbnail">
            <img class="card-img-top" src="{{ hemisphere.img_url }}" alt="Card image cap">
            <div class="card-body">
              <h3 class="card-text"><b>{{ hemisphere.title }}</b></h3>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

</body>
</html>


  
</div>